{% extends "layout.html" %}
{% block content %}
<h1>Auto ML</h1>
<div class='row'>
<div class = 'upload_buttons col-lg-6 col-sm-12 col-md-12'>
    <form action="/automl" method="POST" enctype="multipart/form-data">
        <input type=file name=file id="fileUpload" multiple>
        <p>Drag your Training Dataset here.</p>
        <button type=submit value=Upload id="upload" onclick = "Upload()">Upload</button>
    </form>
</div> 

<div class = 'upload_buttons col-lg-6 col-sm-12 col-md-12'>
    <form action="/automl" method="POST" enctype="multipart/form-data">
        <input type=file name=file multiple>
        <p>Drag your Testing Dataset here.</p>
        <button type=submit value=Upload onclick = "Upload()">Upload</button>
    </form>
</div>
<div class="display_train">
    {% for table in tables %} -->
        <h2>{{titles[loop.index]}}></h2>
        {{ tables|safe }}
    {% endfor %}
</div> 
</div>
<!-- <input type="file" id="fileUpload" />
    <input type="button" id="upload" value="Upload" onclick="Upload()" />
    <hr />
    <div class="table" id="dvCSV"></div>

<script type="text/javascript">
    function Upload() {
        var fileUpload = document.getElementById("fileUpload");
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
        if (regex.test(fileUpload.value.toLowerCase())) {
            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var table = document.createElement("table");
                    var rows = e.target.result.split("\n");
                    for (var i = 0; i < 10; i++) {
                        var cells = rows[i].split(",");
                        if (cells.length > 1) {
                            var row = table.insertRow(-1);
                            for (var j = 0; j < cells.length; j++) {
                                var cell = row.insertCell(-1);
                                cell.style.border='1px solid #000'
                                cell.innerHTML = cells[j];
                            }
                        }
                    }
                    var dvCSV = document.getElementById("dvCSV");
                    dvCSV.style.width="300px";
                    dvCSV.style.overflowX="auto";
                    dvCSV.innerHTML = "";
                    dvCSV.appendChild(table);
                }
                reader.readAsText(fileUpload.files[0]);
            } else {
                alert("This browser does not support HTML5.");
            }
        } else {
            alert("Please upload a valid CSV file.");
        }
    }
</script> -->

{% endblock  content%}